@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

body{
	
	background-color: #999;
}
.page-header{
	height: 175px;
	background-image: url("./myndir/ratm.jpg");
	background-repeat: no-repeat;

}
